 <div class="form-signin">
	<%= form_tag(:action => 'reset_password') do %>
	<div class='login-logo'></div>
    <h2 class="form-signin-heading">Reset password</h2>
    
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name='email' id="inputEmail" class="form-control end" placeholder="Email address" required autofocus>    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    <% end %> 	     
  </div>