 <div class="form-signin">
	<%= form_tag(:action => 'update_password') do %>
	<div class='login-logo'></div>
	<h2 class="form-signin-heading">Set new password</h2>
	<input type='hidden' name='key' value='<%= @key %>'/>
	<input type='hidden' name='email' value='<%= @email %>'/>
	<label for="inputEmail" class="sr-only">New password</label>
	<input type="password" name='password' id="inputPassword" class="form-control end" placeholder="Enter new password" required autofocus>    
	<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	<% end %> 	     
 </div>