<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	
  	<p>ISSUE REPORTED:</p>
  	<p>
  		<%= @issue %>
  	</p>
  	
  </body>
</html>