Dear <%= @user.contact_address.company %><br/>
<br/>
A request has been made to reset your password for eship.dk.<br/>
<br/>
To reset your password please follow the link below.<br/>
<a href="<%= EShip::HOST_ADDRESS + new_password_path(:email => @user.email, :key => @user.password_reset_key) %>"><%= EShip::HOST_ADDRESS + new_password_path(:email => @user.email, :key => @user.password_reset_key) %></a><br/>
<br/>
<br/>
Kind regards,<br/>
eship.dk
