<%= form_tag request.env['PATH_INFO'], method: 'get' do %>
<% nopanel = nopanel %>
<% if not nopanel %>
<div class='panel panel-default'>
	<div class='panel-heading'>Period</div>
	<div class='panel-body'>
      <% end %>
		<table class='table table-striped'>
			<tr>
				<th>From</th>
				<th>To</th>
				<th></th>
			</tr>
			<tr class='date-filter'>
				<td>
					<input value="<%= session[:filter_date_from].to_date.strftime('%d-%m-%Y') %>" class='form-control date-input' name='from' data-provide="datepicker" placeholder="From"/>
				</td>
				<td>
					<input value="<%= session[:filter_date_to].to_date.strftime('%d-%m-%Y')  %>" class='form-control date-input' name='to' data-provide="datepicker" placeholder="To" />
				</td>
				<td>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Filter</button>
				</td>
			</tr>
		</table>
        <% if not nopanel %>
	</div>
</div>
<% end %>
<% end %>
