<%= form_for @address do |f| %>
<p>
 	<%= check_box_tag 'default_address', "1", @current_user.default_address == @address %> <label for='default_address'>Make default address</label><br/>
</p>

<%= render :partial => 'form_fields', :locals => {:f => f}%>
 
<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
 
</div>
<% end %>
