
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= #require_tree .
 *= require_self
 */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 250px;
    height: 600px;
  }
  
  .sidebar-background{
  	position: fixed;
  	top: 51px;
  	background-color: #f5f5f5;
  	height: 100%;
  	width: 250px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 30px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 60px;
  }
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.form-part{
	float:left;
	width: 50%;
}

.navbar-logo{
	width: 150px;
	height: 50px;
	background-image: url('/images/logo.png');
 	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;    
}

.navbar-inverse{
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar-brand{
	padding: 0 15px;
}

table button.btn{
	height: 25px;
	padding: 0;
}

.nav-sidebar h4{
	padding-left: 20px;
	border-bottom: 1px solid #eee;
}

.date-filter{
	min-width: 220px;
}

.date-filter .form-control{
	display: inline;
	padding: 0;
	width: 30%;
}

.model-filters .form-control{
	display: inline;
	width: auto;
	padding: 0;
}

.pagination {
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

.btn{
	display: inline !important;
}

.main-body{
	padding-bottom: 15px;
}




.date-input {
	width: 49% !important;
	background: url(/images/icons/calendar-5.png) no-repeat;
	background-position: right;
	background-size: 26px;
	font-size: 12px;
}


.datepicker{
	z-index: 9999;
}

.model-filters input.form-control{
	width: 100%;
}

.img-link{
	background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
    background-position-x: 5px;
}

.img-link.exit {
	background-image: url(/images/icons/exit.png);
	background-position-x: -5px;
}

.img-link.address-book{
	background-image: url(/images/icons/agenda.png);
}

.img-link.user {
	background-image: url(/images/icons/user.png);
}

.img-link.shipping{
	background-image: url(/images/icons/package.png);
}

.img-link.products{
	background-image: url(/images/icons/barcode.png);
}

.img-link.invoices{
	background-image: url(/images/icons/invoice.png);
}

.img-link.dashboard{
	background-image: url(/images/icons/speedometer.png);
}

.img-link.billing{
	background-image: url(/images/icons/calculator.png);
}

.img-link.admin_products{
	background-image: url(/images/icons/truck.png);
}

.img-link.users {
	background-image: url(/images/icons/users.png);
}

.img-link.tools {
	background-image: url(/images/icons/settings-5.png);
}
