// Place all the styles related to the shipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.api_error{
   margin: 15px 0;
   padding: 5px;
   border: 1px solid red;
   color: red;
}