<h1 class='page-header'>Products</h1>
<%= link_to 'Create product', new_product_path %>
<br/>
<%= will_paginate @products %>
<div class='table-responsive'>
	<table class='table table-striped'>
		<tr>
			<th>Product code</th>
		</tr>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.product_code %></td>
		</tr>
		<% end %>
	</table>
</div>
