<%= cbox do-%>

 <%= cbox_header ('Bulk import') do-%>
 
 <%end%>
<p>Bulk import allows you to generate multiple shipments using data contained in a single file.</p>


<% if @current_user.import_format and @current_user.import_format.complete? %>


	<p>Please make sure that your file comforms to the predefined import format.</p>
	
  <%= form_tag '/shipments/upload_csv', :multipart=>true do %>



  	<label for="file">
   		<button type="button" onclick="$('#file').click()" class="btn btn-default" >Select file <span id="file-dest"></span></button>
	</label>
	<input id="file" type="file" name="file" style="visibility: hidden; display: inline; width: 0;">
  	<button type="submit" class="btn btn-primary">Submit</button>

  <script type="text/javascript">
  	$(document).on('change', ':file', function() {
    	var input = $(this),        
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');        
        label = label == '' ? '' : '(' + label + ')'
    	$('#file-dest').html(label);
		});
  </script>
 	
  <% end %>
  <%else %>
<div class='error'>
	This functionality requires you to define an import format. Please contact the eShip administration.
</div>
<% end %>

<% end %>

