<div class='footer'>
	<div class='about'>
		<div class='phone'>
		Phone: +45 70666066
		</div>
		<div class='email'>
			e-mail: info@eship.dk
		</div>
		<div class='cvr'>
			CVR: 37362123
		</div>
		<div class='copyright'>
			COPYRIGHT © 2016 eShip.dk
		</div>
	</div>
	
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.address-input-container').each(function(){		
		var inZip = $(this).find('.zip-input');
		var inCity = $(this).find('.city-input');
		var inCountry = $(this).find('.country-input');		
		inZip.change(function(){
			if(inCountry.val() == 'DK'){	
				inCity.val(zipcodes[inZip.val()]);	
			}
		});
	});
});
</script>
