<div class='footer'>
	<div class='about'>
		<div class='phone'>
		Phone: +45 70666066
		</div>
		<div class='email'>
			e-mail: info@eship.dk
		</div>
		<div class='cvr'>
			CVR: 37362123
		</div>
		<div class='copyright'>
			COPYRIGHT © 2016 eShip.dk
		</div>
	</div>
	
</div>
