<div class='panel panel-default'>
	<div class='panel-heading'>
		<%= display_pagination models %>
		<span class='pull-right'>
			<%= will_paginate models %>
		</span>
	</div>
	<div class='panel-body'>
		<div class="table-responsive">