<nav class="navbar navbar-inverse">
      <div>
        <div class="navbar-header">
      
          <a class="navbar-brand" href="#">
          	<div class='navbar-logo'></div>
          </a>
        </div>
        
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           	<%= render :partial => 'layouts/left_link', :locals => {:area => '', :title => 'Log out', :path => logout_path, :img => 'exit'} %>
          </ul>
        </div>
      </div>
</nav>